/* #DDFF0D, #07EB07, #44FFC7, #0C9BF0, #140FFF */

body {
    background-color: #140FFF
}

h1, h2, p {
    display: flex;
    justify-content: center;
    text-justify: center;
    color: #DDFF0D
}

h3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 200px;
    width: 200px;
    background-color: #44FFC7;
    color: #0C9BF0;
    margin: 20px;
    align-items: center;

}