/* #FFF, #e51030, #ffd600, #9e9e9e, #140FFF */
header {
    background-color: black;
    height: 160px;
    margin-bottom: 10px;
    margin-top: 10px;
}

p {
    margin-left: 20px;
    margin-right: 20px;
}

footer h1, footer p, h3 p a, footer h3 p {
    color: #e51030;
    font-size: 20px;
    font-family: "Barlow", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    text-decoration: none;
}

header h3 p, header h3 p a {
    color:#ffd600 ;
    font-size: 22px;
    text-decoration: underline;
    font-family: "Barlow", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
}

h2 {
    font-family: "Barlow", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 20px;
}

body {
    background-color: #9e9e9e;
    font-size: 0.8rem;
}

.wrapper {
    background-color: #FFF;
    margin: 10px;
}

.wrapper p {    
  font-family: "Barlow", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
}

.wrapper a {
  font-family: "Barlow", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  text-decoration: underline;
}

h1, h2, h3 p {
    display: flex;
    justify-content: center;
    text-justify: center;
    color: #ffd600;
}

h1 , .h1{
  font-stretch: expanded;
  font-family: "Barlow", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: bolder;
  font-weight: +20px;
  font-size: 30px;
}

h3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 300px;
    width: 300px;
    background-color: #e51030;
    color: #ffd600;
    margin: 20px;        
    text-decoration: none;
    font-stretch: expanded;
    font-family: "Barlow", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: +170%;  
    font-style: bold;
} 

.rows a {
    text-decoration: none;
}

#sketch {
    display:flex;
    flex-direction: column;
    column-count: 2;
    justify-content: space-evenly;
}

#sketch .rows img {
    display: flex;
    justify-content: flex-end;
}

.rows {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

#overview {
    padding: 10px;
}

.img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 10px;
}

#findings1 img, #findings2 img {
    max-width: 25%;
}

#findings1, #findings2 {
    display:flex;
    flex-flow: wrap;
}

img {    
    margin-top: 10px;
    margin-bottom: 10px;
    max-width:100%;
}

button {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    height:25px;
    margin-bottom: 10px;
    padding: 5px;
}

ol, li {
    margin-left: 75px;
    margin-right: 75px;
    font-family: "Barlow", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    list-style-position: inside;
    list-style-type: circle;
    margin-bottom: 15px;
}


footer {
    padding: 5px;
    height: 100px;
    background-color: #ffd600;
}

.iframe {
    display: flex;
    justify-content: center;
    background-color: #FFF;
    margin: 10px;
    padding:10px
}